* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: rgb(100, 41, 155);
    color: white;
    padding: 16px 0;
    display: flex;
    border-bottom: 16px solid rgb(73, 29, 114);
    justify-content: center;
    text-transform: uppercase;
}

header button {
    margin-left: 16px;
}

form {
    background-color: rgb(169, 155, 177);
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: rgb(21, 121, 21);
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#btn-cancelar {
    background-color: rgb(192, 23, 23);
}

ul {
    display: flex;
    flex-wrap: wrap;

}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay-img-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.411);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .34s;
}

.overlay-img-link a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul li:hover .overlay-img-link {
    opacity: 1;
}